{% extends "admin/base_site.html" %}

{% block extrahead %}
    {{ block.super }}
    {% if dev_mode %}
    <style>
        :root {
            --primary: #d32f2f !important;
            --secondary: #b71c1c !important;
            --accent: #ffcdd2 !important;
            --primary-fg: #fff !important;
            --header-bg: #d32f2f !important;
            --header-color: #fff !important;
            --link-fg: #d32f2f !important;
            --link-hover-color: #b71c1c !important;
        }
        
        /* Aggressive overrides for various Django admin versions */
        #header, .module caption, .module h2 {
            background: #d32f2f !important;
            background-color: #d32f2f !important;
            color: #ffffff !important;
        }
        
        div.breadcrumbs {
            background: #b71c1c !important; 
            color: #fff !important;
        }
        
        div.breadcrumbs a {
            color: #ffcdd2 !important;
        }

        a:link, a:visited {
            color: #d32f2f;
        }
        
        a:hover {
            color: #b71c1c;
        }
        
        .button.default, input[type=submit].default, .submit-row input.default {
            background: #d32f2f !important;
        }
    </style>
    {% endif %}
{% endblock %}
